<!-- login.component.html -->

<div class="login-container bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="login-box bg-white p-8 rounded-md shadow-lg w-96">
    <h2 class="text-3xl font-semibold mb-6 text-center text-blue-500">Welcome Back!</h2>
    <form (ngSubmit)="onSubmit()" class="space-y-4">
      <div *ngIf="showError" class="text-red-500 text-sm bg-red-100 p-2 rounded-md mb-4">
        {{ errorMessage }}
        Invalid username or password
        <!-- Display specific error messages based on the errorType -->
      </div>
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-medium">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
      </div>
      <div class="mb-6">
        <label for="password" class="block text-gray-700 font-medium">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
      </div>
      <button type="submit" class="w-full bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition duration-300">
        Login
      </button>
    </form>
  </div>
</div>
